* {
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f0f2f5;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 10px 20px;
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  border-radius: 14px;
  margin-bottom: 0px;
  margin-top: 5px;
  cursor: pointer;

}
.navbar button{
  font-size: 20px;
  background-color: #2563eb;
  width: fit-content;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;
}


.section1 {
  border-radius: 16px;
  padding: 25px;
  /* background: #ffffff; */
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); */
  transition: transform 0.2s ease;
  display: flex;
  height: fit-content;
  width: 100%;

}

.section1 .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  width: 70%;
}

.section1 h1 {
  font-size: 70px;
  text-align: center;
  transition: transform 3s ease-in-out 2s;

}

.section1 p {
  font-size: 30px;
  text-align: center;
  width: 60%;

}

/* Optional: Button styling */
button {
  background-color: #4a6cf7;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin: 5px 8px 5px 0;
}

button:hover {
  background-color: #3c5de0;
}



a {
  color: #4a6cf7;
  text-decoration: none;
}

.section1 .image img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}

/* section 2 */

.section2 {
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
  height: fit-content;
  padding-bottom: 20px;
  /* background: linear-gradient(135deg,  #ffffff, #f1f3f6,); */
}

.section2 h4 {
  font-size: 50px;
  text-align: center;
  position: relative;
  top: -30px;
}

.section2 ol li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: #6b7280;
  position: relative;
  bottom: 30px;
  text-align: justify;
}

.section2 .box button {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 100px;
  background: rgb(238, 236, 236);
  Border: 2px dashed #2563eb;
  color: #2563eb;
  font-size: 20px;
  font-weight: 600;
  border-radius: 12px;
  text-align: center;
}

.section2 #clear,
.section2 #cl,
.section2 #cpy {
  display: flex;
  margin: 0 auto;
  height: auto;
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
  background-color: #4a6cf7;
  border-radius: 26px;
  text-align: center;
  justify-content: center;
}

.section2 .flxbtn {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 40%;
  gap: 10px;
}

.section2 #clear:active,
.section2 #cl:active,
.section2 #cpy:active {
  background-color: #6b7280;
  transform: scale(0.95);
}

.section2 p {
  text-align: center;
  font-size: 15px;
}
.section3 {
  text-align: center;
  min-height: fit-content;
  height: auto;
}
.section3 .myfilebox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section4 {
  text-align: center;
  min-height: 100vh;
  height: auto;
}

.section4 .txt h1 {
  font-size: 40px;
}

.section4 .txt p {
  font-size: 30px;
}

.section4 .leftright {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.section4 .leftright .left {
  width: 60%;
  border-radius: 16px;
}

.section4 .leftright .left img {
  width: 100%;
  border-radius: 16px;
  height: 100%;
}

.section4 .leftright .right {
  width: 40%;
}

.section4 .leftright .right .text p {
  text-align: justify;
  font-size: 20px;
}

.section4 .leftright .right .list ul li {
  font-size: 20px;
  text-align: justify;
  margin: 10px 0;
}

.section5{
  height: auto;
  padding: 20px;
  width: 100%;
}
.section5 .toptext{
  text-align: center;
  margin-top: 20px;

}
.section5 .toptext h2{
  font-size: 40px;
}
.section5 .toptext p{
  font-size: 20px;
  color: #6b7280;
}
.section5 .form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
  left: 15%;

}
.section5 .form input, .section5 .form textarea, button{
  width: 50%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* .utd {

  animation: upToDown 2s ease forwards;
}

.rtl {
  animation: rightToLeft 2s ease-in-out forwards;
}

.ltr {
  animation: leftToRight 2s ease-in-out forwards;
} */

@keyframes upToDown {

  from {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes rightToLeft {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
}

@keyframes leftToRight {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
}


.section3,
.section4 {
  /* background: linear-gradient(135deg, #ffffff, #f1f3f6); */
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
  max-height: 100vh;

}

@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    gap: 10px;
    width: 100%;

  }

  .container {
    display: block;
    width: 100%;
  }

  .section1 h1 {
    font-size: 35px;
  }


  .section1 p,
  .section1 h4 {
    font-size: 20px;
  }


  .section1 {
    width: 100%;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .section2 {
    height: auto;
    padding: 10px;
    gap: 10px;
  }

  .section4 .leftright {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: fit-content;
  }

  .section4 .leftright .left,
  .section4 .leftright .right {
    width: 100%;
    font-size: 30px;
    height: auto;
  }

  .section2 .flxbtn {
    width: 40%;
    height: 90px;
    font-size: 15px;
  }

  .section1,
  .section2,
  .section4 {
    padding: 10px;
  }
  .section5 .form {
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}